.bigP,
.smallIko {
  stroke: #f4efd3;
  fill: #000;
  stroke-dasharray: 175px;
  stroke-dashoffset: 175px;
  z-index: 15;
}
.bigP {
  animation: pathIn 3s forwards;
}

.smallIko {
  animation: pathIn 10s forwards;
}

@keyframes pathIn {
  0% {
    stroke-dashoffset: 175px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}