.strokeIn {
  stroke: #f4efd3;
  stroke-dasharray: 345px;
  stroke-dashoffset: 345px;
  z-index: 15;
  animation: pathIn 3s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
  text-transform: uppercase;
}

@keyframes pathIn {
  0% {
    stroke-dashoffset: 345px;
    fill: black;
  }
  80% {
    stroke-dashoffset: 0px;
    fill: black;
  }
  100% {  
    stroke-dashoffset: 0px;
    fill: $primaryColor;
  }
}