@import "./setUp";

@import "./colours";
@import "./animations";
body {
  background: #010101;
      color: $primaryColor;
      font-family: 'open sans', sans-serif;
}


header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:right bottom;
  min-height: 90vh;
  
  padding-top: 25px;  

  .headerContent{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 50%;
        text-align: center;
      }
      button {
        margin-top: 25px;
        width: 35%;
      }
    }

// TRANSFER ANIMATION INTO H1 INSTEAD OF LOGO
  
  }
}

input {
  color: $primaryColor;
  padding: 5px 15px;
  border:1px solid #ffffff4b;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;

  &::placeholder {
    color: #ffffff4b;
  }
}

button {
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  background-color: $primaryColor;
  cursor: pointer;
}



.logo {
  width: 40px;
}
.information {
  
}

.userWarning {
  margin: 0 auto;
  width: 450px;
  border-radius: 20px;
  
  display: none;
  align-items: center;
  justify-content: space-evenly;

  text-transform: none;

  background-color: $primaryColor;
  color: black;

}

.hidden {
  display: none;
}

ul {
  .userQuery {
  }
  li {
    font-size: 1.5rem;
    padding: 10px 0;
    border-top: 2px solid $listAccent;
    position: relative;
    
    h2, h3 {
      margin: 0;
    }
    h2 {
      font-style: italic;
    }
    h3 {
      margin-left: 10px;
    }
    p {
      line-height: 22px;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      
    }
    a {
      position: absolute;
      top: 10px;
      font-size: 2rem;
    }
    
  }
}
.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  i {
    margin-right: 10px;
    transition: all 0.35s;
    color: transparentize($listAccent, 0.7);
  }
  .rotated {
    transform: rotate(45deg);
    color: $listAccent;
  }
}

.youtube,
.wiki {
  i {
    color: $primaryAccent;
  }
  &:hover,
  &:focus {
    i {
      color: $listAccent;
    }
  }
}
.youtube {   
  right: 10px;
}
.wiki{
  right: 40px;
}
.hiddenDescription {
  max-height: 0;
  margin: 0;
}

.rotated {
  
}

main {
  form {
    padding: 25px 0;
  }
}